# hidden files
.*
!.vscode

# logs
*.log

# test coverage
coverage.out

# configuration
/*.toml

# builds
/dist
/build
/examples/class_c/class_c
cmd/chirpstack-fuota-server/__debug_*
examples/class_c/config.go

#data collection
*.json